<div id="bannerCarrusel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <img src="../assets/img/slide1.jpg" class="d-block w-100 img-fluid" alt="Jesús el sentido de la vida">
            <div
                class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start bg-dark bg-opacity-50 p-4 rounded-4">
                <h1 class="display-5 fw-bold">Jacky Flores y Detalles</h1>
                <p class="fs-5">Bienvenidos a nuestro mundo floral</p>
                <a class="btn btn-secondary mt-3" href="#bienvenidos-container">Conócenos</a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
            <img src="../assets/img/rosas/ArregloFloral24rosasGirasolClavelYChocolates.jpg"
                class="d-block w-100 img-fluid" alt="Juventud para Cristo">
            <div
                class="carousel-caption d-flex flex-column align-items-start justify-content-center text-start bg-dark bg-opacity-50 p-4 rounded-4">
                <h1 class="display-6 text-light">Jacky Flores y Detalles</h1>
                <p class="fs-6">"Cada Ramo cuenta una historia."</p>
                <a class="btn btn-outline-light mt-3" href="#bienvenidos-container">Conócenos</a>
            </div>
        </div>

    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarrusel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bannerCarrusel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>